
* {
  margin: 0;
  padding: 0;

}

h1{
  color:black;
  font-family:initial;
  font-weight: bold;
  font-weight: 300;
  margin: 0;
  text-align: center;
  margin: 20px 0 30px;
}

h2{
  color:rgb(39, 46, 25);
  font-family:sans-serif;
  font-weight: bold;
  margin: 0;
  text-align: center;
  margin: 10px 0 20px;
  
}

body{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-height: 650px;
  z-index: -1;
  background-image: url(../img/miles.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

h3{
  color:rgb(39, 46, 25);
}

#search{
  position: center;
  text-align: center;
  font-family:sans-serif;
  background-color: transparent;
  font-weight: 300;
  font-size: 1.45rem;
  margin: 30px 0 30px;
  width: -50vw;
  height: -50vh;


}
.topnave{
  color:transparent;
} 

.display-books div{ 
  display: block;
  position: center;
  margin: 0;
  width: auto;

}
div.href{
  color:black;
}

form{
  position: center;
}

#container{
  box-sizing: border-box;
  opacity: unset;
}
.allbooks{
  text-align: justify; 
  text-align-last: center;
}

.display-books{
  background-image: url(../img/book_open.png);
  background-repeat: no-repeat;
  /* margin-top: 50px; */
  margin-bottom: 0px;
  height: 735px;
  color:black;
  font-size: large;
  font-weight: bold;
  display: block;
  /* background-color: rgb(160, 47, 117); */
  /* background-color:rgb(110, 110, 160); */
  /* background-color:rgb(139, 138, 138); */
  /* opacity: .5; */
  /* padding: 0 18px; */
  /* padding: 20px 20px; */
  /* box-shadow: 0px 0px 3px #848484; */
  z-index: 2;
  margin-left: 70px;
  margin-right: 70px;
  overflow: scroll;

}

.links{
  color:black;
}

.logintitle{
  color:white;
}
/* .container{
  opacity: 0.5;
} */
.card-body{
  color:white;
}

li{
  position: center;
}

.w-100{
  /* margin-left: 50px; */
  margin-right: -70px;
  /* margin-left: 230px; */
  margin-right: 230px;
}

section{
  color: white;
}

