{% extends 'base.html' %}
{% block title %}My Book Shelf{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8" />
          
        <title>
            My book Shelf
        </title>
          
<h1>MY BOOK SHELF</h1>
<!-- <h2>Navigation</h2>
  <ul>
    <li><a href="/books">View all books</a></li>
  </ul> -->
  
  <form action="/search" method="GET" >

  <div class="topnav">
    <p>
      Search <input type="text"  name="title_keywords" placeholder="Search..">
    </p>
    <p>
      <input type="submit">
    </p>
  </div>
</form>

{% endblock %}
