{% extends 'base.html' %}
{% block title %}My Book Shelf{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8" /> 
  <!-- Import css -->
  <link href="/static/css/homepage.css" rel="stylesheet">

<title> My book Shelf</title>
</head>
                        
  <h1>MY BOOK SHELF</h1>
  <body>
    <div id="main_page">
      <form action="/search" method="GET" >
      </div>

  <div class="topnav" id= "search">
    <ul>      
    <p>
      <input type="text"  name="title_keywords" placeholder="Search..">
    </p>
  </ul>
    <ul>
      <button type="submit" class="btn btn-primary" id="button">Submit</button>
  </ul>
  </div>
</form>

<div class= "allpaper"></div>
<!-- Modal gallery -->
<section class="">
  <!-- Section: Images -->
  <section class="">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <div
          class="bg-image hover-overlay ripple shadow-1-strong rounded"
          data-ripple-color="light"
        >
          <img
            src="static/img/alice.jpeg"
            class="w-100"
          />
          <a href="title_keywords" data-mdb-toggle="modal" data-mdb-target="#exampleModal1">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 mb-4 mb-lg-0">
        <div
          class="bg-image hover-overlay ripple shadow-1-strong rounded"
          data-ripple-color="light"
        >
          <img
            src="static/img/narnia.jpeg"
            class="w-100"
          />
          <a href="title_keywords" data-mdb-toggle="modal" data-mdb-target="#exampleModal2">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </a>
        </div>
      </div>

      <div class="col-lg-4 mb-4 mb-lg-0">
        <div
          class="bg-image hover-overlay ripple shadow-1-strong rounded"
          data-ripple-color="light"
        >
          <img
            src="static/img/peterpan.jpeg"
            class="w-100"
          />
          <a href="title_keywords"  data-mdb-toggle="modal" data-mdb-target="#exampleModal3">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Images -->


{% endblock %}
