{% extends 'base.html' %}
{% block title %}My Book Shelf{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
  <meta charset = "utf-8" /> 
  <!-- Import css -->
  <link href="/static/css/homepage.css" rel="stylesheet">

  <title> My book Shelf</title>
</head>
                        
  <h1>MY BOOK SHELF</h1>
  <body>
    <div id="main_page">
      <form action="/search" method="GET" >
      </div>

  <div class="topnav" id= "search">
    <ul>      
    <p>
      <input type="text"  name="title_keywords" placeholder="Search..">
    </p>
  </ul>
    <ul>
      <button type="submit" class="btn btn-primary" id="button">Submit</button>
  </ul>
  </div>
</form>

{% endblock %}
