{% extends 'base.html' %}
{% block body %}
<link href="/static/css/homepage.css" rel="stylesheet">
<ul><h1>Log In</h1></ul>
    <form action="/login" method="POST">
      <ul>
        <div class="mb-3">
          <div class="col-4">
            <i class="bi bi-person"></i>
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username">
        </div>
      </ul>
      <ul>
        <div class="mb-3">
          <div class="col-4">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="Password" name="password">
        </div>
      </ul>
      <ul>
        <p>
        <button type="submit" class="btn btn-primary">Submit</button>
      </p>
    </ul>

      </form>
  
  {% endblock %}