{% extends 'base.html' %}

{% block title %}{{ book.title }} - Details{% endblock %}

{% block body %}
<h1>{{ book.title }}</h1>
<ul>
    <li>
        <p>Book Title: {{ book.title }}</p>
        <p>Author(s): {{ book.authors }}</p>
        <p>Average Rating: {{book.average_rating }}</p>
        <p>Rating Count: {{book.rating_count}}</p> 
        <p>Isbn Number: {{book.isbn}}</p>
        <p>Number of Pages: {{book.num_pages}}</p>
    </li>
</ul>

<h2>Search this book on Google!</h2>
<a href="https://www.google.com/search?q={{ book.isbn }}">Search here</a>

{% endblock %}