{% extends 'base.html' %}

{% block title %} 

{{user.username }}'s Page

{% endblock %}

{% block body %}

<h1>{{ user.first_name }} </h1>
<ul>
{% for favorite in favorite_books %}
<li>
  <a href="/books/{{ favorite.book.book_id }}">
  {{ favorite.book.title }}
  </a>
</li>
{% endfor %}
</ul>
  <ul>
    <form action="/logout"> 
        <p>
        <button type="submit" class="btn btn-primary">Log Out</button>
      </p>
    </ul>
    </form> 
{% endblock %}
<div class="card" style="width: 18rem;">
  <img src="/books/{{ favorite.book.book_id }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Book Title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
